$color-primary: #1890ff;
$color-white: #fff;
$color-white-opacity: rgba(247 ,247, 247, 0.65);
$color-black: #000;
$color-black-3: #000;
$color-black-6: #666;
$color-black-9: #999;
$color-gray: #535d72;
$color-black-wrapper: rgba(0, 0, 0, 0.3);
$color-red: #f04134;
$color-dark-red: #dd6161;
$color-yellow: #ffe538;
$color-line :#E4E7ED;
$font-20: 20px;
$font-18: 18px;
$font-16: 16px;
$font-14: 14px;
$font-12: 12px;
$margin-24: 24px;
$margin-12: 12px;
$padding-header: 64px;
$color-header: #fff;
$width-common: 1200px;